<div id="side_menu">
	<section id="menu" class="menu open"></section>
	<section id="submenu" class="submenu"></section>
	<span id="menu_toggle"></span>
</div>

<div id="alerts">
	<p class="alert-block alert-info ui-corner-all ui-state-default">
		<span class="ui-icon ui-icon-info"></span>
		<strong>Примечание</strong> <span class="text">...</span>
	</p>
	<p class="alert-block alert-success ui-corner-all ui-state-highlight">
		<span class="ui-icon ui-icon-check"></span>
		<strong>Успешно!</strong> <span class="text">...</span>
	</p>
	<p class="alert-block alert-error ui-corner-all ui-state-error">
		<span class="ui-icon ui-icon-alert"></span>
		<strong>Ошибка!</strong> <span class="text">...</span>
	</p>
</div>

<section class="content">
	<h1 id="page_title"></h1>
