*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #edeef0;
}

section.menu{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	display: none;
	min-width: 100px;
	height: 100%;
	background: #fff;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	pointer-events: none;
}

#menu:after{
	position: absolute;
	content: '';
	width: 16px;
	height: 16px;
	top: 50%;
	right: -5px;
	z-index: 10;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	/*background-color: #edeef0;*/
	float: left;
	margin: 0 4px;
	overflow: hidden;
	background: #fff url(images/ui-icons_444444_256x240.png) -96px -16px;
	pointer-events: all;
}

section.submenu{
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 5;
	display: none;
	min-width: 100px;
	height: 100%;
	background: #fff;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

section.menu.open{
	display: block;
}
.ui-resizable-helper { border: 1px dotted gray; }

section.content{
	padding: 10px;
	width: 1200px;
	margin: 20px auto;
	background: #fff;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}


form{
	margin: 20px auto;
	padding: 10px;
}

label {
	display: block;
	float: left;
	width: 20%;
	text-align: right;
	padding: .4em 5px .4em .4em;
}
form > input, select, textarea {
	float: left;
	margin-bottom: 10px;
}

input.text{
	margin-bottom: 12px;
	width: 80%;
	padding: .4em;
}

select{
	margin-bottom: 12px;
	width: 80%;
	padding: .4em;
}

fieldset{
	width: 100%;
	margin: 20px 0;
	border: 1px solid #e7e8ec;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.response-block{
	margin: 20px 0;
	padding: 1em;
}

.menu-item{
	position: relative;
	display: block;
	margin: 20px auto;
	padding: 20px;
	background-color: #f6f6f6;
	width: 100%;
	overflow: hidden;
	color: black;
	text-decoration: none;
	pointer-events: all
}
.menu-item:hover{
	background-color: #ededed;
	overflow: visible;
	text-decoration: underline;
	cursor: pointer;
}

.menu-item.parent{
	content: "123";
}
