//= ../header.html

//= ../core.html

<form id="send_form" data-url="" data-method="POST" class="ui-widget">
	<p class="response-block ui-corner-all ui-state-default">
		<span class="ui-icon ui-icon-info"></span>
		<strong>Примечание</strong> Поля, отмеченные "*" обязательны к заполнению
	</p>

	<fieldset>
		<label for="form_name">Название Название </label>
		<input type="text" id="form_name" name="name" class="text ui-widget-content ui-corner-all" required="required">

		<label for="form_weight">Вес</label>
		<input type="text" id="form_weight" name="weight" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_length">Длина</label>
		<input type="text" id="form_length" name="length" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_length">Длина</label>
		<input type="text" id="form_length" name="length" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_length">Длина</label>
		<input type="text" id="form_length" name="length" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_length">Длина</label>
		<input type="text" id="form_length" name="length" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_length">Длина</label>
		<input type="text" id="form_length" name="length" class="text ui-widget-content ui-corner-all only_double">

		<label for="form_producer">Производитель</label>
		<select id="form_producer" name="producer" class="text ui-widget-content ui-corner-all" required="required">
			<option value="">Выберите производителя</option>
		</select>

	</fieldset>

	<button type="submit" class="ui-button ui-corner-all ui-widget">Создать</button>
	<button type="reset" class="ui-button ui-corner-all ui-widget">Сбросить</button>

	<br>
	<span class="response">
		<p class="response-block response-success ui-corner-all ui-state-highlight">
			<span class="ui-icon ui-icon-check"></span>
			<strong>Успешно!</strong> <span class="text">...</span>
		</p>
		<p class="response-block response-error ui-corner-all ui-state-error">
			<span class="ui-icon ui-icon-alert"></span>
			<strong>Ошибка!</strong> <span class="text">...</span>
		</p>
	</span>
</form>

//= ../footer.html