//= ../header.html
<span data-key="section" data-value="Магазины" class="meta"></span>
<span data-key="page" data-value="Редактировать" class="meta"></span>
//= ../core.html

<form id="open_editor" data-url="getPath=stores,exist" data-method="GET" class="ui-widget">
	<fieldset>
		<label for="form_exist_id"><button type="submit" class="ui-button ui-corner-all ui-widget">Открыть</button></label>
		<input type="text" id="form_exist_id" name="id" placeholder="Введите ID необходимого элемента, чтобы открыть его для редактирования" class="text ui-widget-content ui-corner-all" required="required">
	</fieldset>
	<span class="response"></span>
</form>

//= ../footer.html